:root {
    /* change the values below to your colors from your palette */
    --primary-color: #0F1035;
    --secondary-color: #365486;
    --accent1-color: #7FC7D9;
    --accent2-color: #DCF2F1;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Agbalumo", "Libre Baskerville";
    --paragraph-font: "Open Sans", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #365486;
    /* headlines on a white background */
    --headline-color-on-color: #7FC7D9;
    /* headlines on a colored background */
    --paragraph-color-on-white: #0F1035;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #DCF2F1;
    /* paragraph text on a colored background */
    --paragraph-background-color: #0F1035;
    --nav-link-color: #d6f7ff;
    --nav-background-color: #365486;
    --nav-hover-link-color: #7FC7D9;
    --nav-hover-background-color: #0F1035;

    --border: 3px solid #0F1035;
    --color: #0F1035;
    --fontsize: 1rem;
  }

  body {
    max-width: 1160px;
    margin: 0 auto;
    padding: 2rem;
    font-size: 18px;
    text-align: center;
  }
  

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  
  h2 {
    text-align: center;
  }

  header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  
  header>h1,
  header>h2 {
    color: var(--headline-color-on-color);
  }
  
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav a {
    padding: 1em;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:link,
  nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

  footer {
    background-color: var(--primary-color);
  }

  footer p {
    color: var(--paragraph-color-on-color);
  }
  address a {
    color: var(--nav-link-color);
  }

/*-------------------------- Test -------------------------------*/

  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.57rem;
    cursor: pointer;
    color: var(--primary-color);
}


#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 3px 7px 6px;
  background-color: var(--headline-color-on-color);
  color: var(--paragraph-color-on-white);
  position: absolute;
  top: 5.6rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--nav-background-color);
}

.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--nav-link-color);
}

.navigation li a:hover {
  background-color: var(--nav-hover-link-color);
  color: var(--nav-hover-background-color);
}

.open li {
  display: block;
  width: 100%;
}

.open li a {
  display: block;
}

.active::before {
  content: "📍 ";
}


/* --------------------------- Discover page -------------------------- */

.discover-main {
  padding-top: 1rem;
}

.sidebar {
  background-color: var(--accent1-color);
  padding: 1rem;
  border-radius: 10px;
}

.sidebar-content {
  background-color: var(--accent1-color);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid for images */
  gap: 10px;
  padding-top: 1rem;
}

/* Add lazy loading effect to images */
.main-content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.main-content img:hover {
  transform: scale(1.1);
}


/* --------------------------------------------------------------------- /*

/* ------------------- Join --------------------- */

form fieldset {
  margin: 2rem 0rem;
  border: var(--border);
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: var(--color);
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: var(--color);
  font-size: var(--fontsize);
  text-align: left;
}

form label.top input {
  --webkit-appearance: none;
  display: block;
  font-size: var(--fontsize);
  border: var(--border);
  border-radius: 4px;
  padding: .75rem;
  color: var(--color);
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, .1);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: var(--color);
  text-align: left;
}

form label.top input:required {
  border-bottom: red solid 4px;
}

form label.top input:required:valid {
  border-bottom: green solid 4px;
}


form input.submitBtn {
  border: none;
  background-color: var(--color);
  color: var(--accent1-color);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

.membership-level {
  border: var(--border);
  border-radius: 10px;
  margin: .5rem 0;
  padding: 10px;
  font-size: var(--fontsize);
  color: var(--color);
}

.join-main h2 {
  text-align: center;
  color: var(--color);
}

.level h3 {
  text-decoration: underline;
}

/* ------------------------------ Directory Page ---------------------------- */
/* Center the Button */
#directory-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Grid View */
.directory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.directory-cards section {
  text-align: center;
  border: 2px solid var(--primary-color);
  color: var(--color);
  width: 350px;
  padding: 1rem;
  margin: 1rem;
}

/* List View */
.directory-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
}

.directory-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directory-list section {
  text-align: center;
  border: 2px solid var(--primary-color);
  width: 350px;
  padding: 1rem;
  margin: 1rem;
}

.directory-list section img {
  display: none;
}

.directory-cards section img {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.directory-list section:nth-child(odd) {
  background-color: var(--accent1-color);
  color: black;
}

.directory-list section:nth-child(even) {
  background-color: var(--accent2-color);
  color: black;
}

#directory-menu {
  padding-top: 2rem;
} 
