@media (min-width: 30rem) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 auto;
    }
    main div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        margin: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .discover-main {
        display: grid;
        grid-template-columns: 1fr 1.5fr; /* Sidebar and main content columns */
        gap: 20px;
        padding-top: 1rem;
      }

      /*------------------------ Join ----------------- */

    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    form {
        grid-column: 2 / 3;
    }

    .membership-level {
        grid-column: 1 / 2;
    }
      
    .membership-level .level {
        /* Set level sections to display in a single column */
        grid-column: 1;
    }

    
    /* ---------------------------- Home / Main Page ------------------- */

    .section-grid {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-gap: 1.2rem;
    }

    .spotlight-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    #weather-forecast {
        background-color: var(--headline-color-on-color);
        display: flex;
        justify-content: space-around;
        text-align: center;
        border: var(--border);
    }

}