@media (min-width: 30rem) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 auto;
    }
    main div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        margin: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .discover-main {
        display: grid;
        grid-template-columns: 1fr 1.5fr; /* Sidebar and main content columns */
        gap: 20px;
        padding-top: 1rem;
      }
}