body {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-weight: 400;
    background-color: #f8fae5;
}
header {
    background-color: #43766c;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header span {
    color: #f8fae5;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
}

#menu {
    font-size: 1.5rem;
    /*  border left out of dark mode */
    padding: 3px 7px 6px;
    background-color: #b19470;
    /* position: relative; */
    position: absolute;
    top: 5.6rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #b19470;
}
.navigation li {
    /* list-style-type: none; */
    display: none;
}

/* both nav li and hover are left out of dark mode */
.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation li a:hover {
    border: #442d11;
}

.navigation li a:active {
    background-color: #502F4C;
    color: #C8B8DB;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

.stuff {
    /* margin: .5m; */
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;

}

nav {
    background-color: #b19470;
    text-align: center;
}
nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    border: 1px solid #442d11;
}
ul {
    list-style: none;
}
hr {
    max-width: 90%;
}
div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 1rem;
}
.card {
    border: 1px solid #272626;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px #343333;
}
.card ul {
    text-align: left;
    padding: 1rem;
}

.card a{
    color: blue;
}

.lastModified {
    color: yellow;
}

.card h2{
    display: block;
    background-color: #b19470;
    padding: 1rem;
    color: black;
}
footer {
    color: #fff;
    background-color: #76453B;
    padding: 1rem;
}

/* dark Mode */
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

