body {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-weight: 400;
    background-color: #f8fae5;
}
header {
    background-color: #43766c;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header span {
    display: inline;
    font-size: 2rem;
    padding: 1rem;
}
nav {
    background-color: #b19470;
    text-align: center;
}
nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    border: 1px solid #442d11;
}
ul {
    list-style: none;
}
hr {
    max-width: 90%;
}
div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 1rem;
}
.card {
    border: 1px solid #272626;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px #343333;
}
.card ul {
    text-align: left;
    padding: 1rem;
}

.card a{
    color: blue;
}

.lastModified {
    color: yellow;
}

.card h2{
    display: block;
    background-color: #b19470;
    padding: 1rem;
}
footer {
    background-color: #43766c;
    padding: 1rem;
}

