@media (min-width: 30rem) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 auto;
    }
    main div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    #menu {
        display: none;
        /* hide hamburger button */
    }
    .herolabel p {
        font-size: clamp(1px, 4vw, 40px);
        white-space: nowrap;
    }

    .herolabel {
        top: clamp(1px, 4vw, 40px);
    }

    .hero img {
        width: 100%;
        height: auto;
      }

    .navigation {
        flex-direction: row;
        margin: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

}